{% extends 'car_dealer/base.html' %}
{% block content %}
{% csrf_token %}
<div class="w3-bar w3-black w3-large">
  <div class="w3-bar-item w3-left w3-black">Car Dealer Portal: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/logout/">logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right " href="/car_dealer_portal/auth/">Home</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/order_list/">Orders</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/manage_vehicles/">Vehicles</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/history/">Wallet</a>
</div>

<div class="w3-display-container" style="height:300px;">
  <div class="w3-display-middle">
    Vehicle added successfully ! <br><br>
    <a href="/car_dealer_portal/index/">go back to home page</a>
</div>
</div>
{% endblock %}
