{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Customer Portal: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/logout/">logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/manage/">Manage</a>
  <a class="w3-ber-item w3-btn w3-teal w3-right" href="/customer_portal/search/">Search for cars</a>
</div>
{% csrf_token %}

<div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">
<h3>Order Completed</h3>
Your vehicle order was successful !<br><br>
total rent : {{order.rent}} Rs.<br><br>
vehicle : {{order.vehicle.car_name}}<br><br>
duration : {{order.days}} days<br><br>
car-dealer : {{order.car_dealer.car_dealer.first_name}} {{order.car_dealer.car_dealer.last_name}}<br><br>
car-dealer contact no: {{order.car_dealer.mobile}}<br><br>
</div>
</div>
{% endblock %}
