{% extends 'customer/base.html' %}

{% block content %}

{% if form.errors %}

{% endif %}
<div class="w3-display-container" style="height:500px;">
  <div class="w3-display-middle">
<form class="w3-container" action="/customer_portal/auth/" method="POST">{% csrf_token %}
  <lable>Username :</lable> <input class="w3-input" type="text" name="username"><br><br>
  <lable>Password :</lable> <input class="w3-input" type="password" name="password"><br><br>
  <input class="w3-btn w3-teal" type="submit">
</form><br><br>
<div class="w3-container">
<a class="w3-btn w3-teal" href="/customer_portal/register/">new user ? sign up here</a>
<a class="w3-btn w3-teal" href="/">Home</a>
</div>
</div>
</div>
{% endblock %}
