{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar">
  <h3 class="w3-bar-item w3-left">Registration Form</h3>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/customer_portal/login/">Login</a>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/">Home</a>
</div>

<div class="w3-display-container"  style="height:1000px;">
<div class="w3-display-middle">

<form class="w3-container" action="/customer_portal/registration/" method="POST">{% csrf_token %}
  <lable>FirstName : </lable><input class="w3-input" type="text" name="firstname"><br><br>
  <lable>LastName : </lable><input class="w3-input" type="text" name="lastname"><br><br>
  <lable>Username : </lable><input class="w3-input" type="text" name="username"><br><br>
  <lable>Password : </lable><input class="w3-input" type="password" name="password"><br><br>
  <lable>Email : </lable><input class="w3-input" type="text" name="email"><br><br>
  <lable>Mobile : </lable><input class="w3-input" type="text" name="mobile"><br><br>
  <lable>City : </lable><input class="w3-input" type="text" name="city"><br><br>
  <lable>Pincode : </lable><input class="w3-input" type="text" name="pincode"><br><br>
  <input class="w3-btn w3-teal" type="submit"><br><br>
</form>

</div>
</div>
{% endblock %}
